[mysqld]
max_connections = 451
max_allowed_packet = 256M
default_time_zone = "{{ansible_date_time.tz_offset| regex_replace('([+-][0-9]{2})([0-9]{2})', '\\1:\\2')}}"
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
innodb_use_fdatasync = ON
bind-address = 0.0.0.0
report_host = {{ ansible_hostname }}

binlog_transaction_dependency_tracking = WRITESET
enforce_gtid_consistency = ON
gtid_mode = ON
server_id = {{ 65534 | random(seed=ansible_host) + 1 }}
innodb_buffer_pool_size = 6G
innodb_buffer_pool_instances = 6
innodb_log_file_size = 256M
innodb_io_capacity = 1000

{% if configure_ssl_connection == true %}
#require_secure_transport = ON
##_START_test_config_###
{% set ssl_dir = '/var/lib/mysql' if inventory_hostname == ansible_play_hosts[0] else '/var/lib/mysql/mysql_ssl' %}
plugin_load_add = group_replication.so
group_replication_ssl_mode = REQUIRED
group_replication_recovery_use_ssl = 1
group_replication_recovery_ssl_verify_server_cert = 0
## Need to set group_replication_recovery_ssl_verify_server_cert = 1 if certificates signed by CA
group_replication_recovery_ssl_ca = {{ ssl_dir }}/ca.pem
group_replication_recovery_ssl_cert = {{ ssl_dir }}/client-cert.pem
group_replication_recovery_ssl_key = {{ ssl_dir }}/client-key.pem
##_END_test_config_###
ssl-cipher = DHE-RSA-AES256-SHA
ssl-ca = {{ ssl_dir }}/ca.pem
ssl-cert = {{ ssl_dir }}/server-cert.pem
ssl-key = {{ ssl_dir }}/server-key.pem

{% endif %}


##innodb_buffer_pool_size # This should be set to a size of 70-80% installed Memory.
##innodb_buffer_pool_instances # This should be set to one instance per gig of the pool 

{% if ansible_os_family == 'RedHat' %}
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
log-error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid
{% endif %}

{% if configure_ssl_connection == true %}
#[client]
#ssl-mode=REQUIRED
#ssl-cert=/var/lib/mysql/client-cert.pem
#ssl-key=/var/lib/mysql/client-key.pem
{% endif %}